html, body {
    background: rgb(42,30,51);
    color: white;
    font-family: Helvetica, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', Verdana, sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    letter-spacing: -2px;
}

h1 {
    margin: -7px 0 0 0;
    letter-spacing: -3px;
    font-size: 4em;
}

#header a:link, #footer a:link {
    text-decoration: none;
    color: rgb(224,108,13);
}

#header a:hover, #footer a:hover {
    color: rgb(217,45,11);
}

#header a:visited, #footer a:visited {
    color: rgb(240,179,38);
}

#call-options li {
    display: inline;
}

#call-options, #call-status {
    display: none;
}

#call-button, #option1, #option2, #option3, #option4 {
    font-size: 24px;
    padding: 8px 24px;
}

#twilio-logo {
    text-decoration: none;
    text-align: right;
    display: inline-block;
    width: 166px;
    height: 0;
    overflow: hidden;
    padding-top: 31px;
    background: url('http://www.twilio.com/packages/company/img/logos_icon_poweredbysmall.png') no-repeat;
}

#image {
    background: url('/static/images/ramones-953x953.jpg');
    width: 953px;
    height: 953px;
}

@media only screen and (max-width: 959px) {
    #image {
        background: url('/static/images/ramones-750x750.jpg');
        width: 750px;
        height: 750px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #image {
        background: url('/static/images/ramones-460x460.jpg');
        width: 460px;
        height: 460px;
    }
}

@media only screen and (max-width: 479px) {
    #image {
        background: url('/static/images/ramones-300x300.jpg');
        width: 300px;
        height: 300px;
    }
}

/* BRENDAN'S ADDS */

body {
  background: url('../img/white_plaster.png') top center repeat;
}

header {
  margin-bottom: -15px;
  z-index: 2;
}

#page {
  z-index 1;
  width: 100%;
  min-height: 300px;
  background: rgb(230,230,230);
  box-shadow: 0 0 4px rgb(120,120,120);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
  #page ol {
    padding: 25px 10px;
    margin-bottom: 50px;
    margin-left: 4em;
  }
    #page ol li {
      line-height: 1.5em;
      margin-top: 5px;
      font-size: 2.0em;
      font-weight: bold;
      color: rgb(60,60,60);
      text-shadow: 0 0 1px rgb(120,120,120);
    }